<!-- <div>
    Numero1: <input type="text" [(ngModel)]="numero1" name="numero1"><br>
    Numero2: <input type="text" [(ngModel)]="numero2" name="numero2"><br>
    
    <button type="button" (click)="sumar()">Calcular</button>
    
    <h1>{{total}}</h1>
</div>
-->
<div>
    Numero 1: <input type="text" [(ngModel)]="numero1" name="numero1"><br>
    Numero 2: <input type="text" [(ngModel)]="numero2" name="numero2"><br>
    Tipo de Operación: <input type="text" [(ngModel)]="opera" name="opera"><br>
    
    <button type="button" (click)="operacion()">Calcular</button>
    
    <h1>{{total}}</h1>
</div>


<!-- ngModel: es la funcion de comunicación entre Typescript y las funciones de las vistas -->

